<html>
<head>
<style type="text/css">
body { background-color: AliceBlue; }
div.book { padding: 5px; font-size: 18pt; background-color: AliceBlue; }
div.author { padding: 5px; font-size: 18pt; background-color: Lavender; }
td { vertical-align: top; }
h1 { background-color: White; }
div.form { background-color: White; }
</style>
</head>
<body>
<div class="main">
<center>
<form action="/" method="get">
  <input size="50" type="text" name="search" value="">
  <input type="submit" value="Search">
</form> 
</center>
{% block content %}
{% endblock %}
</div>
</body>
</html>